<?php

$customEnv = array(

    // Path info
    'basePath' => '/Users/natebeaty/Sites/fb-craft/',
    'baseUrl'  => 'http://fb-craft.dev/',

    // Database connection info
    'user'     => 'root',
    'password' => '',
    'database' => 'fb_craft',

    // General config settings
    'general' => array(
        'devMode' => true,
        'cdnUrl' => '',
        'imageDriver' => 'imagick',
    ),

);