{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set seoTitle = "Firebelly Design | Branding | Strategy | Graphic Design | Chicago" %}
{% set seoDescription = "Firebelly Design is a socially conscious boutique design studio based in Chicago. We specialize in branding, strategy and Good Design for Good Reason™." %}

{% block content %}
  <header class="section-title">
    <h1>Good Design<br> for Good <span class="last-word">Reason.<sup>&trade;</sup></span></h1>
    <h2>We create positive human experiences<br> through beautiful, sustainable design.</h2>
  </header>

  <section class="portfolio">
    <ul class="projects filter-items clearfix">
      {% for entry in craft.entries.section('work') %}
        {% if entry.altImage|length %}
          {% set mainImage = entry.altImage.first() %}
        {% else %}
          {% set mainImage = entry.mainImage.first() %}
        {% endif %}
        <li class="project interior" data-services="{% for service in entry.services %}{{ service.slug }} {% endfor %}" data-industry="{% for industry in entry.industry %}{{ industry.slug }} {% endfor %}">
          <article>
            {% if mainImage|length %}
              <div class="project-image lazy" style="background-image:url('/assets/images/gray.gif');" data-original="{{ mainImage.getUrl('projectThumb') }}"></div>
            {% endif %}
            <header>
              <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
              {% if entry.rolloverSubtitle %}
                <h3>{{ entry.rolloverSubtitle }}</h3>
              {% endif %}
            </header>
            <a class="view-project" href="{{ entry.url }}"><span>View Project</span></a>
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
  {% endblock %}

  {% block aside %}
    <section id="filters" class="divider section-nav interior">
    <h1>Filter:</h1>
    <ul class="filter-set">
      <li class="show-all"><a href="#filter" data-filter="" class="selected">all</a></li>
      {% set industries = craft.categories.group('industry').find() %}
      {% for industry in industries %}
        {% set entryCount = craft.entries.relatedTo(industry).total() %}
        {% if entryCount > 0 %}
          <li><a href="#filter" data-filter="{{ industry.slug }}" class="{{ industry.slug }}">{{ industry.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endblock aside %}
