  {# {% set params = craft.entries.section('thoughts').order('postDate desc, id asc') %} #}
  {% set params = craft.entries.section(paginationSection).order(paginationOrder) %}
  {% set prevEntry = entry.getPrev(params) %}
  {% if not prevEntry %}
    {% set prevEntry = params.last() %}
  {% endif %}
  {% set nextEntry = entry.getNext(params) %}
  {% if not nextEntry %}
    {% set nextEntry = params.first() %}
  {% endif %}
  <nav class="footer-pagination">
    <ul>
      <li class="prev">
        <a rel="prev" href="{{ prevEntry.url }}"><span class="arrow">&larr;</span> Previous Post</a>
      </li>
      <li class="next">
        <a rel="next" href="{{ nextEntry.url }}">Next Post <span class="arrow">&rarr;</span></a>
      </li>
    </ul>
  </nav>
