<nav class="project-nav" aria-role="navigation">
  <ul class="projects clearfix">
    {% for entry in craft.entries.section('work') %}
      {% if entry.altImage|length %}
        {% set mainImage = entry.altImage.first() %}
      {% else %}
        {% set mainImage = entry.mainImage.first() %}
      {% endif %}
      {% if mainImage|length %}
        <li class="project">
          <article>
              <div class="project-image lazy-side" style="background-image:url('/assets/images/gray.gif');" data-original="{{ craft.config.cdnUrl }}{{ mainImage.getUrl('projectThumbSmall') }}" alt="{{ mainImage.title }}"></div>
            <header>
              <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
              {% if entry.rolloverSubtitle %}
                <h3>{{ entry.rolloverSubtitle }}</h3>
              {% endif %}
            </header>
            <a class="view-project" href="{{ entry.url }}"></a>
          </article>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
