{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% if entry.seoDescription %}{% set description = entry.seoDescription %}{% endif %}
{% set bodyClass = 'single page expertise' %}
{% set bodyId = 'expertise-page' %}

{% block content %}
  <section class="content interior grid">
    <div class="intro one-half -left clearfix">
      <div class="-inner">
        <header class="section-title">
          <h1>{{ entry.title }}</h1>
        </header>
        <div class="summary">
          {{ entry.body }}
        </div>
        {# <%= render :partial => '/shared/edit_bug', :locals => { :obj => @page, :edit_path => refinery.admin_edit_page_path(@page) }%> #}
      </div>
    </div>

    <div class="secondary one-half -right grid user-content">
      <div class="one-half -left">
        <div class="secondary-item column -first">
          <header>
            <h1>Interdisciplinary <br>Capabilities</h1>
          </header>
          <ul>
            <li>Brand</li>
            <li>Print</li>
            <li>Digital</li>
            <li>Motion</li>
            <li>Experience</li>
          </ul>
        </div>
        <div class="secondary-item column">
          <header class="divider">
            <h1>Services</h1>
          </header>
          <ul>
            <li><a href="/work#brand-strategy">Brand Strategy</a></li>
            <li><a href="/work#community-development">Community Development</a></li>
            <li><a href="/work#digital-experience">Digital Experience</a></li>
            <li><a href="/work#social-design">Social Design</a></li>
          </ul>
        </div>
      </div>
      <div class="one-half -right">
        <div class="secondary-item column last">
          <header class="divider">
            <h1>Proven <br>Industries</h1>
          </header>
          <ul>
            <li><a href="/work#art-design">Art + Design</a></li>
            <li><a href="/work#education">Education</a></li>
            <li><a href="/work#financial-investment">Financial + Investment</a></li>
            <li><a href="/work#health-wellness">Health + Wellness</a></li>
            <li><a href="/work#media-entertainment">Media + Entertainment</a></li>
            <li><a href="/work#professional-services">Professional Services</a></li>
            <li><a href="/work#public-sector">Public Sector</a></li>
            <li><a href="/work#real-estate-development">Real Estate + Development</a></li>
            <li><a href="/work#retail-consumer">Retail + Consumer</a></li>
          </ul>
        </div>
      </div>
    </div>

  </section>
{% endblock %}